<!DOCTYPE html>
<html>

<head>
    <ul>
        <li><a href="/">Anasayfam</a></li>
        <li><a href="/videolar">İklim Değişikliği Videoları</a></li>
        <li style="float:right"><a class="active" href="/hakkımda">Hakkımda</a></li>
      </ul>
    <title>İklim Değişikliği Sayfası</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/img/">
    <font-family: Trebuchet MS, Helvetica, sans-serif;> </font-family:>
</head>

<body>

    <h1>Hakkımda</h1>
    
    <p>Ben Demir Kaan.Bu siteyi iklim değişikliğine dikka çekmek için yaptım.Bu sitede bir çok görsel ve video bulabilirsiniz.İyi eğelenceler!</p>



</body>

</html>