<!DOCTYPE html>
<html>

<head>
    <ul>
        <li><a href="/">Anasayfam</a></li>
        <li><a href="/videolar">İklim Değişikliği Videoları</a></li>
        <li style="float:right"><a class="active" href="/hakkımda">About</a></li>
      </ul>
    <title>İklim Değişikliği Sayfası</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/img/">
    <font-family: Trebuchet MS, Helvetica, sans-serif;> </font-family:>
</head>

<body>

    <h1>Küresel Isınma Nedir?</h1>
    <p>Atmosferdeki CO2 (Karbon dioksit), CH4 (Metan), N2O (Nitröz oksit) gibi sera gazları ile atmosferdeki ısının
        çıkamamasıdır.
        Bu yüzden ısı enerjisi, madde partiküllerinden ya çok fazla kalıp ısının artışına neden olur;
        ya maddeden çabuk ayrılıp ısı kaybına neden olur; ya da periyotlu olarak değişir. </p>
    <h2>İşte bu fotoğraflarla iklim değişikliği olan ve olmayan yerleri karşılaştırabilirsiniz:</h2>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-2d93b306-7ec0-4cb6-a65e-e786c281506e" data-elfsight-app-lazy></div>


</body>

</html>