<!DOCTYPE html>
<html>

<head>
    <ul>
        <li><a href="/">Anasayfam</a></li>
        <li><a href="/videolar">İklim Değişikliği Videoları</a></li>
        <li style="float:right"><a class="active" href="/hakkımda">About</a></li>
      </ul>
    <title>İklim Değişikliği İle İlgili Videolar</title>
    <link rel="stylesheet" href="/static/videolar.css">
    <link rel="stylesheet" href="/static/img/">
    <font-family: Trebuchet MS, Helvetica, sans-serif;> </font-family:>
</head>

<body>

    <h1>Küresel Isınma Videoları</h1>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/XvgHNH_n8JQ" title="ÇEVKO Vakfı - Kağıt / Karton Ambalaj Atıklarının Geri Dönüşümü - Eğitim Videosu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/h4kN2aj6Q64" title="ÇEVKO Vakfı - Ahşap Ambalaj Atıklarının Geri Dönüşümü - Eğitim Videosu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/I8P6NIq9z4Y" title="ÇEVKO Vakfı - Plastik Ambalaj Atıklarının Geri Dönüşümü - Eğitim Videosu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/btGMHvkAyts" title="ÇEVKO Vakfı - Ambalaj Atıklarının Geri Dönüşümü - Eğitim Videosu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/aGYjEyHBUTA" title="İklim Değişikliği Nedir?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/yfxb-PkFB5Q" title="Farkında mıyız? | İklim" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1775" height="750" src="https://www.youtube.com/embed/EzkbG6yCM-o" title="Farkında mıyız? | Gıda" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>

</html>